@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @mixin desktop {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }

@mixin hover{
    webkit-animation-name: fa-bounce;
    animation-name: fa-bounce;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1));
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1));
}

@mixin loadingGradient{
    background: linear-gradient(90deg, #0E0E0E, #1C1C1C, #0E0E0E);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 4px;
}