@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    padding: 0 1rem;
    @include tablet{
        padding: 0.5rem 2rem;
    }
    @include desktop{
        padding: 0.5rem 2rem;
    }
    
    &__container{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        @include tablet{
            padding-top: 1rem ;
            flex-direction: row;
            align-items: center;
        }
    }

    &__logo-link{
        margin: 0rem auto;
    }

    &__item{
        color: $foogle-light;
        text-decoration: none;
        display: flex !important;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &--disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    
    &__logo{
        width: 130px;
        padding-bottom: 1rem;
        @include tablet{
          width: 140px;
          margin: 0;
          padding-bottom: 0;
        }
        @include desktop{
            width: 200px;
        }
    }
    
    &__search-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        position: relative;
        @include tablet{
            margin: 0 1rem;
            flex-grow: 1;
        }
        @include desktop{
            margin: 0 auto;
            flex-grow: 0;
            width: 40%;
        }
    }
    
    &__search-bar{
        border: 1px solid $foogle-light;
        background-color: $foogle-dark;
        color: $foogle-light;
        padding: 0.2rem 2rem 0.2rem 0.4rem;
        border-radius: 10px;
        width: 100%;
        @include tablet {
            padding: 0.7rem 2rem 0.7rem 1rem;
            width: 100%;
            display: flex;
            flex-grow:  1;
        }
        @include desktop {
            width: 50%;
            font-size: 1rem;
        }
    }
    
    &__search-btn{
        position: absolute;
        top: 1px;
        right: 0.5rem;
        margin: 0;
        font-weight: 700;
        @include tablet{
            top: 4px;
            right: 4%;
            font-size: 1.5rem;
        }
        @include desktop{
            display: none;
        }
    }
    
    &__search-icon{
        display: none;
        @include desktop {
            display: block;
            width: 1.5rem;
            
            &:hover{
                @include hover;
            }
        }
    }
    
    &__nav{
        display: none;
        @include tablet{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.6rem;
            padding-top: 0.3rem;
            margin-left: auto;
        }
        @include desktop{
            gap: 1.2rem;
        }
    }
    
    &__item{
        color: $foogle-light;
        text-decoration: none;
        display: flex ;
        align-items: center;
        gap: 0.5rem;
    }
    
    &__item-text{
        font-size: 0.5rem;
        color: $foogle-light;
        @include desktop{
            font-size: 0.8rem;
        }
    }
    
    &__item-icon{
        width: 20px;
        height: 20px;
        @include desktop{
            width: 25px;
            height: 25px;
        }
    }

    &__filter{
        display: flex;
        position: absolute;
        align-items: center;
        gap: 0.4rem;
        top: 2rem;
        right: 0;
        @include tablet{
            top: 3rem;
        }
        @include desktop{
            top: 3.5rem;
            right: 2.1rem;
        }
    }

    &__filter-label{
        margin: 0;
        font-size: 0.7rem;
    }

    &__sort{
        background-color: $foogle-dark;
        color: $foogle-light;
        padding: 2px 5px;
        border-radius: 5px;
        border: 1px solid $foogle-light;
    }
}