@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.search {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0 1rem;
    
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
    }
    
    &__logo-input-cont{
        position: relative;
    }

    &__search-bar{
      border: 1px solid $foogle-primary;
      border-radius: 5px;
      width: 75vw;
      // width: 200px;
      @include tablet {
        width: 50vw;
      }
      @include desktop {
        width: 25vw;
      }
    }

    &__search-icon{
        width: 1rem;
        &:hover{
            @include hover;
        }
    }

    &__logo{
        position: absolute;
        top: -1.75rem;
        left: -1.3125rem;
        width: 120px;
    }

}