@use './styles/variables' as *;
@use './styles/mixins' as *;


body{
    background-color: $foogle-dark;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $foogle-light;
}
